.dishes_head {
    position: sticky;
    top: 0;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    border-bottom: 1px solid #eaeaea;
    z-index: 2;
}

.dishes_features {
    position: relative;
    padding: 10px 15px;
}

.dishes_gallery {
    padding: 10px 0 10px 15px;   
}

.dishes_suggest {
    padding: 10px 0 10px 15px;
}