.homepage {
    display: flex;
    flex-direction: column;
    gap: 15px;

    .homepage_personal {
        padding: 10px 15px;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 30px;

        position: fixed; /* Фиксируем секцию */
        top: 0; /* Прикрепляем к верху */
        left: 0;
        width: 100%; /* Занимает всю ширину */
        background: white; /* Фон, чтобы контент под ней не просвечивал изначально */
        z-index: 10; /* Над другими элементами */
        transition: opacity 0.01s ease; /* Плавный переход для прозрачности */
    
        .homepage_profile_thumb {
            display: flex;
            align-items: center;
            gap: 10px;
        
            .homepage_profile_pic {
                width: 40px;
            }
        
            .homepage_name_wrapper {
                display: flex;
                flex-direction: column;
            }
        
            .homepage_comingback {
                font-size: 11px;
            }
        }
    
        .homepage_personal_bonuses {
            display: flex;
            gap: 8px;
        }
    
        .homepage_personal_course {
            width: 100%;
            background: linear-gradient(to bottom right, #e3b5ff, #b9c4ff);
            border-radius: 10px;
            padding: 20px;
    
            .homepage_personal_button {
                width: fit-content;
                font-size: 12px;
                padding: 5px 25px;
                background: white;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }

    .pinned_news {
        display: flex;
        flex-direction: column;
        padding: 10px 15px;
        box-sizing: border-box;
        overflow: hidden;
        gap: 10px;
        margin-top: 240px; /* Отступ, чтобы контент не перекрывался фиксированной секцией */

        .pinned_news_list {
            display: flex;
            gap: 10px;
        }

        .pinned_news_element {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: 90px;
            height: 50px;
            padding: 5px 7px;
            box-sizing: border-box;

            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: 10px;

            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5);
                border-radius: 10px;
                z-index: 1;
            }

            .pinned_news_element_title {
                font-size: 10px;
                color: white;
                position: relative;
                z-index: 2;
                max-width: 100%;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: normal;
            }
        }
    }
}

